.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #e3e3e3;
}

.loading-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    background-color: #c9c9c9;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    border-radius: 100%;
    box-shadow: #000 0 0 50px 0 inset;
    border-style: solid;
    border-width: 10px;
    border-color: #9ad3de #89bdd3 #9ad3de #89bdd3;
    animation-name: anim-loading-box;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anim-loading-box {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}



/*----------------------------------
@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu.eot') format('embedded-opentype'), url('../font/Ubuntu.ttf') format('truetype'), url('../font/Ubuntu.woff') format('woff'), url('../font/Ubuntu.woff2') format('woff2');
}

* {
    font-family: Ubuntu;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.wrapper {
    background-color: #202020;
}
header {
    color: #f3f7f8;
    text-align: center;
    padding: 20px 0;
}
.profile_img {
    text-align: center;
}
    .profile_img img {
        border: 5px solid #21c2f8;
        border-radius: 50%;
    }
.about_me, .intrests , .contact{
    text-align: justify;
    width: 90%;
    margin: 10px auto;
    border: 3px solid #21c2f8;
    border-radius: 10px;
    color: #f3f7f8;
    padding: 10px;
}
.skills {
    text-align: justify;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    color: red;
}

.progress {
    width: 80%;
    margin-bottom: 5px;
}
.contact ul {
    list-style: none;
}
.contact ul li {
    display: inline-block;
    padding-right: 30px;
}
.contact ul li:last-child {
    padding-right: 0;
}

footer {
    width: 90%;
    margin: 10px auto 0 auto;
    border-radius: 10px;
    color: #f3f7f8;
    padding: 10px;
    text-align: center;
}
footer ul {
    list-style: none;
}
footer ul li {
    display: inline-block;
    padding: 2px 15px;
}
--------------------*/
